# mysqld refers to MySQL daemon (core process of MySQL, runs in the background)
[mysqld]
datadir = /var/lib/mysql
socket = /run/mysqld/mysqld.sock
# listen to all connections on all network interfaces
bind_address=*
port = 3306
user = mysql